<div class="well">
    <h3>ng2-bootstrap-demo</h3>
    <p>此项目用来示范Angular2结合Bootstrap的用法，我会不断更新。</p>
    <p>ng2-bootstrap官方仓库:
        <a href="https://github.com/valor-software/ng2-bootstrap" target="_blank">https://github.com/valor-software/ng2-bootstrap</a>
    </p>
    <p>API文档:
        <a href="http://valor-software.com/ng2-bootstrap/#/" target="_blank">http://valor-software.com/ng2-bootstrap/#/</a>
    </p>
    <h3>在线QQ群</h3>
    <p>脚本娃娃-Angular1区
        <a target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=e6b258aa17e6b8538166fceb0feb1e280afc13cae65c4782225a3acb5156d625"><img border="0" src="http://pub.idqqimg.com/wpa/images/group.png" alt="脚本娃娃-AngularJS 1区" title="脚本娃娃-AngularJS 1区"></a>
    </p>
    <p>脚本娃娃-Angular2区
        <a target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=e238e5536247d8963dc82f45317b65d29245b26ed0fee301311f3fc838c3db51"><img border="0" src="http://pub.idqqimg.com/wpa/images/group.png" alt="脚本娃娃-AngularJS 2区" title="脚本娃娃-AngularJS 2区"></a>
    </p>
    <p>脚本娃娃-Angular3区
        <a target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=66cb14e0d926c8e10db5be6a8abdb3961447c61b46423b4056e541c252eb23c1"><img border="0" src="http://pub.idqqimg.com/wpa/images/group.png" alt="脚本娃娃-AngularJS 3区" title="脚本娃娃-AngularJS 3区"></a>
    </p>
</div>
